{{!-- <h1>
    DETAILS PAGE
</h1> --}}
{{#each obj}}
<div>
    {{title}}
</div>
<br>
<div>
    <img src="{{image_url}}" height="400" width="400" alt="titleImage">
</div>
<br>
<div>
    {{description}}
</div>

