<div id="backToHome">
    <a href="/" id="backHome">HOME</a>
</div>

<div id="header">
     <a href="https://www.dessign.net/architekttheme/" id="headerImg" target="_blank">
     <img src="/assets/logo.jpg" alt="">
     </a>
    <div id="headerText">
        Welcome to our online portfolio, we are small group of passionate designers and architects, looking to change and create amazing digital images to inspire others to follow in our innovative steps. Free Architect WordPress Theme
    </div>
</div>

<div id="signupForm">
    <form action="/auth/register" method="post">
        <label for="fullname">
            <input type="text" name="fullname" placeholder="Full Name">
        </label>
        <br>
        <label for="username">
            <input type="text" name="username" placeholder="Username">
        </label>
        <br>
        <label for="password">
            <input type="text" name="password" placeholder="Password">
        </label>
        <br>
        <input type="submit" value="REGISTER">
    </form>
</div>
