
body {
    font-family: arial, verdana, georgia;
    color: #c7c7c7;
}

#container {
    width: 80%;
    height: auto;
    margin: auto;
}

#header {
    border-top: 1px solid lightgrey;
    display: flex;
}

#headerImg {
    height: 2%;
    width: 40%;
    padding: 3% 30% 1% 0% ;
   
}

#headerText {
    text-align: justify;
    font-size: 12px;
    padding: 0% 3.5% 1% 1%;
    margin-top: 20px;
    height: 15%;
    width: 40%;
    border-left: 1px solid lightgrey;
}

@media only screen and (max-width: 800px){
    #header {
       display: block;
    }

    #headerImg {
        width: 25%;
        height: 1%;
        padding: 3% 50% 1% 0%;
    }

    #headerText {
        width: 100%;
    }
}

#scrollImage {
    display: none;
}

#topImgDiv {
    width: 100%;
    height: 25%;
    padding: 0.5% 0% 0.5% 0%;
}

#gallery { 
    color: #c7c7c7  ;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.galleryImageDiv{
    padding: 1% 1% 1% 0;
}
.galleryImg {
    flex: 1 1 50px;
    height: 215px;
    width: 313px;
}

.galleryText {
    font-size: 12px;
    margin:0;
    word-wrap: break-word;
}

#navigationBar{
    display: flex;
    flex-flow: row wrap;
    padding: 1% 0 0 0;
}

a {
    text-decoration: none;
    color:#999;
}

#loginContainer, #account {
    text-align: right;
    margin-bottom: 1%;
}

#home, #about, #upload, #portfolio, #blog, #resume, #loginContainer, #account {
    font-size: 12px;
    padding: 0.5% 1.5% 0% 1.5%;
    margin-bottom: 1%;
    margin-right: 0.5%;
    margin-top: 0.5%;
}

#home:hover, #about:hover, #upload:hover, #portfolio:hover, #blog:hover, #resume:hover {
    background-color: black;
    color: white;
}

#login:hover, #signup:hover, #accountLink:hover {
    color: black;
}

/* #searchBar {
    padding: 2%;
    width: 200%;
    height: 55%;
    margin-left: 160%;
    background-image: url('/assets/search-icon.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 8%;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    outline: none;
} */

#searchDiv {
    display: flex;
    margin-left: 19%;
    
}
#searchIcon {
    margin-top: 2%;
    margin-right: 3%;
    height: 20px;
    width: 20px;  
}
#searchBar {
    /* border: none; */
    border: 1px solid #c7c7c7;
    outline: none;
    width: 20vw;
    height: 2.75vh;
    margin-top: 2%;
    color: #c7c7c7;
}

#changeDiv{
    display: flex;
    opacity: 0.5;   
}

#edit {
    height: 3%;
    width: 3%;
}

#delete {
    height: 5%;
    width: 5%;
}

#detailsDiv {
    width: 55%;
    font-size: 13px;
    color: #c7c7c7;
}

#titleImg {
    width: 100%;
    height: 25%;
}

#description {
    width: 100%;
}

#form, #editForm {
    padding-top: 3%;
    text-align: center;
}

#editForm {
    width: 45%;
}

input[type=text] {
    margin: 2%;
    padding: 1.5% 1% 1.5% 1%;
    width: 75%;
}

input[type=submit] {
    padding: 1% 1.5% 1% 1.5%;
    color: #999;
    border: 1px solid #999;
}

#editContainer {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

}
